/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("../img/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;

    .banner-title {
      font-size: 3.4rem;
      text-transform: uppercase;
      letter-spacing: $mainSpacing;
      margin-bottom: 3rem;
      outline: none;
    }
  }
}
    .banner-btn {
      padding: 1rem 3rem;
      text-transform: uppercase;
      letter-spacing: $mainSpacing;
      font-size: 1rem;
      background: $primary-color;
      color: $mainBlack;
      border: 1px solid $primary-color;
      transition: $mainTransition;
      cursor: pointer;
      outline: none;
      &:hover {
        background: transparent;
        color: $primary-color;
      }
    }
  

/* --------------- End of Hero ---------------- */