/* --------------- Products ---------------- */
.products {
  padding: 4rem 0;

  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: $mainSpacing;
  }

  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;

    .img-container {
      position: relative;
      overflow: hidden;

      &:hover .bag-btn {
        transform: translateX(0);
      }
      &:hover .product-img {
        opacity: 0.5;
      }
    }

    .bag-btn {
      position: absolute;
      top: 70%;
      right: 0;
      background: $primary-color;
      border: none;
      text-transform: uppercase;
      padding: 0.5rem 0.75rem;
      letter-spacing: $mainSpacing;
      font-weight: bold;
      transition: $mainTransition;
      transform: translateX(101%);
      cursor: pointer;
      outline: none;

      &:hover {
        color: $mainWhite;
      }

      .fa-shopping-cart {
        margin-right: 0.5rem;
      }
    }
    
    .product-img {
      display: block;
      width: 100%;
      min-height: 12rem;
      transition: $mainTransition;
    }

    .product h3 {
      text-transform: capitalize;
      font-size: 1.1rem;
      margin-top: 1rem;
      letter-spacing: $mainSpacing;
      text-align: center;
    }

    .product h4 {
      margin-top: 0.7rem;
      letter-spacing: $mainSpacing;
      color: $primary-color;
      text-align: center;
    }
  }
}

/* ---------------End of Products ---------------- */